*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* manejar el espacio del encabezado*/
.ncontainer-fluid {
    justify-content: center;
    align-items: center;;
}

/* manejo de la sección */
section {
padding: 3rem 0 ;
background-color: lightgray;

}
/* manajar el nombre del registro */
.nombre{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
/* espacio radio buton */
.odonto{
    margin-left:0.5rem ;
}
/* mover el registro con los radio butón */
.form tipo_usuarios{
    text-align: center;
    font-size: 1rem;
     border: 2px solid #696969;

}
/* .form tipo_usuario div{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
} */
/* manejar los elementos del formulario */
form{
  display: flex;
  flex-wrap:wrap ;  
  justify-content: space-between;

  width: 100%;
  padding: 0 1rem;
  max-width: 1000px;

  margin-left: auto;
  margin-right: auto;
}
.form{
    display: flex;
    flex-direction: column;
    width: 14rem;
    margin: 0.5rem 0;
}
.form label{
    font-size: 0.9rem;
    margin-bottom: 0.2rem;


}
.form select{
    font-size: 0.9rem;
    margin-bottom: 0.2rem;


}
.form input{
    font-size: 1.1rem;
    
    height: 2.2rem;
    padding-left: 0.5rem;

    border: 2px solid #696969;
    border-radius: 5px;
}
/* cuadro de privacidad */
.privacidad{
display: flex;
 flex-direction: row; 
justify-content: center;
width: 100%;

margin-top: 1rem;
margin-left: auto;
margin-right: auto;
}
/* cuadrar el boton de registro */
.registrar{
    display: flex;
 flex-direction: row; 
justify-content: center;
width: 100%;
margin-top: 1rem;
margin-left: auto;
margin-right: auto;
}
.registrar button{
    padding: 0.75rem 1.2rem;
    font-size: 1.3rem;
    border: 2px solid #696969;
    border-radius: 5px;
}
/* piede página */
.pie-pagina{
    width: 100%;
    background-color: gray;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
   height: 100%;
    display: felx;
   justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 50%;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
   
}
.pie-pagina .grupo-1 .red-social a{
   display: inline-block;
   text-decoration: none;
   width: 45px;
   height: 45px;
   line-height: 45px;
   color: #fff;
   margin-right: 10px;
   background-color: gray;
   text-align: center;
   transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: gray;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px) {
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}

