*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
	background-color: rgb(31, 51, 64);
	padding: 20px 0;
}
.logo{
	width: 25%;
	margin: 0 auto;

}
.caja{
	width: 940px;
	position: relative;
	margin: 0 auto;
}

.titulo{

	color: white;
	width: 200px;
	margin: 0px auto;
	position: relative;
	
}


/* .titulo{
	position: absolute;
	top: 110px;
	right: 0;
	display: inline; 
	display inline ayuda a alinear
	en un renglón la información
	margin: 0 0 0 15px;
	color: white;
} */

.info_usuarios form {
    font-size: 30px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    color: black;
 }

 .btn_registrar{
 	width: 250px;
	margin: 0px auto;
	size: 10%;
 }

footer{
	text-align: center;
	background: darkgray;
	padding: 40px;
}

main{
	width:  940px;
	margin: 0 auto;
}

form{
	margin: 40px;
}

form label{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padron{
	display: block;
	margin: 0 0 20 px;
	padding: 10px 20px;
	width: 50%;
}